<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>gestioncursosBorja</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login.do</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>CursoServlet</display-name>
    <servlet-name>CursoServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.CursoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CursoServlet</servlet-name>
    <url-pattern>/cursos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlumnoServlet</display-name>
    <servlet-name>AlumnoServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.AlumnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlumnoServlet</servlet-name>
    <url-pattern>/alumnos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModuloServlet</display-name>
    <servlet-name>ModuloServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.ModuloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModuloServlet</servlet-name>
    <url-pattern>/modulos.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ServletFilter</display-name>
    <filter-name>ServletFilter</filter-name>
    <filter-class>com.ipartek.formacion.controller.filter.ServletFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ServletFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ipartek.formacion.controller.listener.InitListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.ipartek.formacion.controller.listener.SessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AdministracionServlet</display-name>
    <servlet-name>AdministracionServlet</servlet-name>
    <servlet-class>com.ipartek.formacion.controller.AdministracionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministracionServlet</servlet-name>
    <url-pattern>/administracion.do</url-pattern>
  </servlet-mapping>
</web-app>